<section class="hero" id="home">
    <div class="container">
  
      <div class="hero-banner">
        <img src="{{ site.baseurl }}/assets/images/hero-banner.jpg" width="800" height="864" loading="lazy" alt="Ethan's Photo" class="img-cover">
  
        <div class="elem elem-1">
          <p class="elem-title">{{ site.hero.years_of_success }}</p>
          <p class="elem-text">Years of Success</p>
        </div>
  
        <div class="elem elem-2">
          <p class="elem-title">{{ site.hero.projects_completed }}</p>
          <p class="elem-text">Projects Completed</p>
        </div>
  
        <div class="elem elem-3">
          <ion-icon name="trophy"></ion-icon>
        </div>
  
        <img src="{{ site.baseurl }}/assets/images/rotate-img.png" width="169" height="172" alt="I'm developer from New York" class="rotate-img">
      </div>
  
      <div class="hero-content">
  
        <h2 class="hero-title">
          <span>Hello I'm</span>
          <strong>{{ site.hero.name }}</strong> {{ site.hero.profession }}
        </h2>
  
        <p class="hero-text">
          {{ site.hero.description }}
        </p>
  
        <div class="btn-group">
          <a href="#contact" class="btn btn-primary blue">{{ site.hero.cta_primary }}</a>
          <a href="#about" class="btn">{{ site.hero.cta_secondary }}</a>
        </div>
  
      </div>
  
    </div>
  </section>
  